* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-height: 100vh;
}

header {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 5vh;
}

/* Main page */
main {
  background-color: red;
}

.picture-container {
  min-height: 87vh;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/src/components/layout/assets/rain.jpg');
  height: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 87vh;
}

/* .hero-text {
  background-color: red;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

.hero-text {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
}

.coordinate-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.coordinate-input {
  background: transparent;
  border: none;
  color: white;
  width: 50px;
}

.coordinate-input:focus {
  background: transparent;
  border: none;
  outline: none;
  width: 50px;
}

/* Footer */
footer {
  background-color: darkgray;
}

.footer-container {
  display: grid;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
/* @media (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
} */

@media (min-width: 300px) {
  .coordinate-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .coordinates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .coordinate-input {
    width: 50px;
    margin: auto;
    border-bottom: 1px solid white;
    background: transparent;
    text-align: center;
  }
  .coordinate-input:focus {
    background: transparent;
    border-bottom: 1px solid white;
    outline: none;
    width: 50px;
  }
}
