* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-height: 100vh;
}

header {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 5vh;
}

/* Main page */
main {
  background-color: red;
}

.picture-container {
  min-height: 87vh;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/src/components/layout/assets/rain.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 87vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.current-container {
}
/* Footer */
footer {
  background-color: darkgray;
}

.footer-container {
  display: grid;
}
